<section id="about" name="about"></section>
<div id="headerwrap">
    <div class="container">
        <div class="logo">
            <img src="assets/img/logo.png">
        </div>
        <br>
        <div class="row">
            <h3>ABOUT</h3>
            <p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>

            <!-- INTRO INFORMATIO-->
            <div class="col-lg-6 col-lg-offset-3">
                <p>Service will help you to find a partner simply and fast.</p>
                <p>Just two clicks gives you a result.</p>
                <p>For suggestions don't hesitate to contact me <a href="#">vkontakte</a>.</p>
                <p>Need some help? Also! Contact me.</p>
                <p><button type="button" class="btn btn-warning">I WANT TO CONTACT</button></p>
            </div>
        </div>
    </div>
</div>