<section id="contact" name="contact"></section>
<div id="headerwrap">
    <div class="container">
        <div class="logo">
            <img src="assets/img/logo.png">
        </div>
        <br>
        <div class="row">
            <h3>CONTACT</h3>
            <p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>

            <div class="col-lg-6 col-lg-offset-3">
                <p>Novoyavorivsk, 39<br/>Lviv, Ukraine<br/>+38 063 3690587</p>
                <p>kopanskyy.roman@gmail.com</p>
                <p><button type="button" class="btn btn-warning">YEAH! CONTACT ME NOW!</button></p>
            </div>
        </div>
    </div>
</div>