<section id="home" name="home"></section>
<div id="headerwrap">
    <div class="container">
        <div class="logo">
            <img src="assets/img/logo.png">
        </div>
        <br>
        <div class="row">
            <h1>LIVE NOW</h1>
            <h3>Hello, I will help you to find</h3>
            <h3>a partner for evening.</h3>
            <br>
            <h4>Login</h4>
            <div class="col-lg-6 col-lg-offset-3">
                <img src="assets/img/vk_enter2.png" width="100" />
            </div>
        </div>
    </div>
</div>