<section id="home" name="home"></section>
<div id="headerwrap">
    <div class="container">
        <div class="logo">
            <img src="assets/img/logo.png">
        </div>
        <br>
        <div class="row">
            <h1>LIVE NOW</h1>
            <br>
            <br>
            <h3>Hello, I will help to find you</h3>
            <h3>a partner for evening.</h3>
            <br>
            <br>

            <% if (!APP.user) { %>
            <h4>Login</h4>
            <% } else { %>
            <h4>Logout</h4>
            <% } %>

            <div class="col-lg-6 col-lg-offset-3">
                <img src="assets/img/vk_enter2.png" width="100" id="auth" />
            </div>

        </div>
    </div>
</div>