<%
var age, city, matcherAgeFrom, matcherAgeTo, sex, availableTo;
var boySelected;
var girlSelected;

var candidate = sex === 'Дівчина' ? 'хлопцем' : 'дівчиною';
var ready = sex === 'Дівчина' ? 'Готова' : 'Готовий';
sex === 'Дівчина' ? girlSelected = 'selected' : boySelected = 'selected';

var hour = new Date(Date.now() + 3600000).getHours();
%>

<div class="form">
    <h5>Live Now</h5>

    <div>
        <label class="label">
            Я
            <select id="sex" name="sex" required class="sex">
                <option value="Хлопець"
                <%= boySelected %>>Хлопець</option>
                <option value="Дівчина"
                <%= girlSelected %>>Дівчина</option>
            </select>
            Мені
            <input id="age" type="number" min="16" max="25" name="age" value="<%= age || 16 %>" required class="number"> років
        </label>
    </div>

    <div>
        <label class="label">
            Зустрінусь з <span id="candidate"><%= candidate %></span> від
            <input id="matcherAgeFrom" type="number" name="matcherAgeFrom" min="16" max="25"
                   value="<%= matcherAgeFrom %>" required class="number">
            до
            <input id="matcherAgeTo" type="number" name="matcherAgeTo" min="16" max="25" value="<%= matcherAgeTo %>"
                   required class="number">
            років
        </label>
        <label class="label">
            Моє місто
            <input id="city" type="text" name="city" value="<%= city %>" required>
        </label>
        <label class="label">
            <span id="ready"><%= ready %></span> до
            <input id="availableTo" type="number" min="<%= hour %>" max="24" name="availableTo" value="<%= hour %>"
                   required class="number"> години
        </label>
        <label class="to">
            <input type="button" class="btn btn-success" value="Зберегти" id="save">
        </label>
    </div>

</div>
<div class="info">Live Now</div>