<%
var user = APP.user;
var noMatches;

var available = user.availableTo && user.availableTo * 1000 > Date.now();
var sAvailable = available ? 'available to ' + new Date(user.availableTo * 1000).getHours() + " o'clock" : 'not available';

var defaultAvailableTo = available ? new Date(user.availableTo * 1000).getHours() : (new Date().getHours() + 1) % 24;
%>

<section id="matches" name="matches"></section>
<div id="headerwrap">
    <div class="container">
        <div class="logo">
            <img src="assets/img/logo.png">
        </div>
        <br>
        <div class="row">
            <h3>Matches</h3>
            <p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>

            <% if (noMatches) { %>
            <div class="col-lg-6 col-lg-offset-3">
                <p>There is no matches at that moment.</p>
                <p>Just wait a couple of minutes.</p>
                <p>Someone will find you.</p>
                <p>You are <%= sAvailable %>.</p>
                <p><input type="button" class="btn btn-default" id="edit" value="EDIT" /></p>
            </div>
            <% } else if (user && user.matcher) { %>
            <div class="col-lg-6 col-lg-offset-3">
                <p>Congratulations you got a match.</p>
                <p>Click the button bellow to contact with your partner.</p>
                <p><input type="button" class="btn btn-default" id="contact" value="CONTACT" /></p>
                <p><a href="#" id="gotIt">GOT IT</a></p>
            </div>
            <% } else { %>
            <div class="login">
                <h4>Partner parameters</h4>
                <table>
                    <tbody>
                    <% if (available) { %>
                    <tr>
                        <td></td>
                        <td><p>You are <%= sAvailable %>.</p></td>
                        <td></td>
                    </tr>
                    <% } %>
                    <tr>
                        <td>Age from</td>
                        <td><input type="number" placeholder="from age" id="matcherAgeFrom" min="14" max="35" value="<%= user.matcherAgeFrom %>" /></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>To</td>
                        <td><input type="number" placeholder="from to" id="matcherAgeTo" min="14" max="35" value="<%= user.matcherAgeTo %>" /></td>
                        <td>years</td>
                    </tr>
                    <tr>
                        <td>I'm ready to</td>
                        <td><input type="number" placeholder="ready to" id="availableTo" min="0" max="23" value="<%= defaultAvailableTo %>" /></td>
                        <td>o'clock</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="button" class="btn btn-default" id="find" value="FIND" /></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <% } %>
        </div>
    </div>
</div>