<section id="matches" name="matches"></section>
<div id="headerwrap">
    <div class="container">
        <div class="logo">
            <img src="assets/img/logo.png">
        </div>
        <br>
        <div class="row">
            <h3>Matches</h3>
            <p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>

            <div class="col-lg-6 col-lg-offset-3">
                <p>Congratulations you got a match.</p>
                <p>Click the button bellow to contact with your partner.</p>
                <p><button type="button" class="btn btn-warning">CONTACT</button></p>
                <p><a href="#">GOT IT</a></p>
            </div>

            <div class="col-lg-6 col-lg-offset-3">
                <p>There is no matches at that moment.</p>
                <p>Just wait a couple of minutes.</p>
                <p>Someone like you.</p>
                <p><button type="button" class="btn btn-warning">EDIT</button></p>
            </div>


            <div class="col-lg-6 col-lg-offset-3">
                <p>Age from</p>
                <p>Age to</p>
                <p>Ready to</p>
                <p><button type="button" class="btn btn-warning">FIND</button></p>
            </div>

        </div>
    </div>
</div>