<nav class="menu" id="theMenu">
    <div class="menu-wrap">
        <h1 class="logo"><a href="index.html#home">Live Now</a></h1>
        <i class="icon-remove menu-close"></i>
        <a href="#home" class="smoothScroll">Home</a>
        <a href="#profile" class="smoothScroll">Profile</a>
        <a href="#matches" class="smoothScroll">Matches</a>
        <a href="#about" class="smoothScroll">About</a>
        <a href="#contact" class="smoothScroll">Contact</a>

        <% if (APP.facebook) { %>
        <a href="<%= APP.facebook %>" target="_blank"><i class="icon-facebook"></i></a>
        <% } %>
        <% if (APP.twitter) { %>
        <a href="<%= APP.twitter %>" target="_blank"><i class="icon-twitter"></i></a>
        <% } %>
        <% if (APP.vk) { %>
        <a href="<%= APP.vk %>" target="_blank"><i class="icon-dribbble"></i></a>
        <% } %>
        <% if (APP.google) { %>
        <a href="<%= APP.google %>" target="_blank"><i class="icon-envelope"></i></a>
        <% } %>
    </div>

    <!-- Menu button -->
    <div id="menuToggle"><i class="icon-reorder"></i></div>
</nav>