<section id="profile" name="profile"></section>
<div id="headerwrap">
    <div class="container">
        <div class="logo">
            <img src="assets/img/logo.png">
        </div>
        <br>
        <div class="row">
            <h3>Profile</h3>
            <p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i
                    class="icon icon-circle"></i></p>

            <div class="col-lg-6 col-lg-offset-3">
                <p>My name
                    <label>
                        <input type="text" class="input-group">
                    </label>
                </p>
                <p>
                    <button type="button" class="btn btn-warning">SAVE CHANGES</button>
                </p>
            </div>
        </div>
    </div>
</div>