<%
var user = APP.user;
var boySelected, girlSelected;
user.sex == 'Girl' ? boySelected = 'selected' : girlSelected = 'selected';
%>

<section id="profile" name="profile"></section>
<div id="headerwrap">
    <div class="container">
        <div class="logo">
            <img src="assets/img/logo.png">
        </div>
        <br>
        <div class="">
            <h3>Profile</h3>
            <p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i
                    class="icon icon-circle"></i></p>

                <br>

                <div class="login">
                    <h4>Your parameters</h4>
                    <table style="margin-left: 30px">
                        <tr>
                            <td>Age</td>
                            <td><input type="number" placeholder="age" id="age" min="14" max="35" value="<%= user.age %>" /></td>
                        </tr>
                        <tr>
                            <td>City</td>
                            <td><input type="text" placeholder="city" id="city"  value="<%= user.city %>" /></td>
                        </tr>
                        <tr>
                            <td>Sex</td>
                            <td>
                                <select id="sex">
                                    <option value="Boy" <%= boySelected %>>Boy</option>
                                    <option value="Girl" <%= girlSelected %>>Girl</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="button" class="btn btn-default" id="save" value="Save"><br></td>
                        </tr>
                    </table>
                </div>
        </div>
    </div>
</div>